body {
  --background-color: #fff;
  --background-color-accent-light: #f3f4f6;
  --background-color-accent-dark: #e4e8ee;
  --border-color: #cfd4dd;
  --text-color: #112;
  --text-color-muted: #6b7280;
  --background-color-primary: #e6e0ff;
  --text-color-primary: #1e00a3;
  --outline-color: #c1b8e5;

  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  box-sizing: border-box;
}
